h1{
    color: black;
}

p{
    font-size: 20px;
}

.opciones{
    display:flex;
    margin-top: 2.5px;
    align-items: center;
}



.logo img{
    margin-top: 70px;
    margin-left: 350px;
    width: 350px;
}

.contenedor{
    margin-left: 0px;
    padding-right: 125px;
}

.contenedor .contenedor-productos .accesorios{
    margin-right: -50px;
    margin-left: 0px;
}

.vendido{
    margin-top: -35px;
}

.precio-producto{
    margin-right: 100px;
}


.sold_out{
    margin-left: 150px;
    margin-right: 100px;
    margin-top: -200px;
}


.logo{
    margin-left: 100px;
}

.opcion{
    display: flex;
    margin-left: 55px;
}

.descripcion-producto{
    display: flex;
    margin-right: 27px;
}




button{
    font-size: 22px;
}


footer{
    text-align: center;
    margin-top: 30px;
}

.titulo{
    display: flex;
}

.precio{
    margin-top: 27px;
    margin-left: 150px;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.carrito-total .btn-pagar{
    margin-left:    0px;
    height: 100px;
}

html{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}



.coleccion, a{
    text-decoration: none;
    color: black;
    margin-top: -40px;
}

.contenedor_producto .img_contenedor_producto{
    width: 475px;
    margin-bottom: 20px;
}

.contenedor_producto .img_contenedor_producto .main_img{
    width: 100%;
    height: 100%;
    border-radius: 27px;
    box-shadow: 0 5px 5px rgb(1, 23, 46, 0.6);
    margin-left: 200px;
    object-fit: cover;
}

.contenedor_producto .thumbnail_contenedor{
    width: 80px;
    display: flex;
    justify-content: space-between;
}


.precio{
    margin-left: 700px;
    margin-right: 0;
    margin-top: -900px;
}

.relacionados{
    margin-top: 250px;
}



.contenedor_producto .thumbnail_contenedor .thumbnail{
    border-radius: 27px;
    cursor: pointer;
    object-fit: cover;
    opacity: .7;
    transition: .3s;
    margin-left: 50px;
}

.active {
    opacity: 1 !important;
    box-shadow: 0px 5px 5px rgb(0, 0, 0);
}

.contenedor-producto .thumbnail_contenedor .thumbnail:hover{
    opacity: 1;

}


.opcion{
    display: flex;
    margin-left: 54px;
    font-size: 21px;
}


.tienda{
    float: left;
    margin-left: -20px;
    font-size: 55px;
}

h1{
    color: black;
}

.carritoo{
    float: right;
    margin-right: 27px;
    margin-top: 30px;
    font-size: 30px;
    cursor: pointer;
}


p{
    font-size: 20px;
}


.logo{
    margin-left: -363px;
    align-items: center;
    margin-top: 20px;
}

.enlace{
    position:relative;
}

nav ul{
    float: left;
    margin-left: 50px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px;
    font-size: 22.5px;
}

nav ul li a{
    color: black;
    border-radius: 3px;
    padding: 10px 27px;
}

li a.active, li a:hover{
    background: #c7c7ce;
    transition: 0.5s;
}




.checkbtn{
    font-size: 50px;
    float: right;
    margin-right: 27px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.btn-eliminar {
    left: 600px;
    top: 130px;
    width: 40px;
    height: 40px;
    padding-top: 10px;
}


@media (max-width: 1200px) {

    .accesorios{
        margin-top: 100px;
    }

    .logo img{
        margin-top: 70px;
        margin-left: -50px;
        width: 350px;
    }

    .carrito-total .btn-pagar{
        margin-top: -30px;
    }

    .sold_out{
        margin-left: 100px;
        margin-top: -800px;
        margin-right: 0px;
    }

    .accesorios .sold_out{
        width: 300px;
        height: 300px;
    }

    .fila{
        color: rgb(255, 255, 255);
        font-size: 35px;
        background-color: white;
        margin-top: -100px;
    }

    .contenedor .contenedor-productos .accesorios{
        margin-right: 100px;
        margin-left: 0px;
    }

    .contenedor .contenedor-productos .accesorioos{
        margin-right: 100px;
        margin-left: 0px;
        margin-top: 100px;
    }

    .accesorios img{
        width: 600px;
        height: 820px;
    }

    .accesorioos img{
        width: 600px;
        height: 820px;
    }


    .contenedor{
        margin-left: 175px;
    }
    

    .relacionados{
        margin-top: -300px;
    }

    .precio{
        float: right;
        padding-right: 25px;
        margin-top: -1025px;
    }

    .thumbnail{
        width: 175px;
    }

    .contenedor_producto .img_contenedor_producto{
        width: 550px;
        height: 800px;
        margin-bottom: 20px;
        margin-left: -130px;
    }

    .carrito-producto-precio{
        padding-right: 120px;
    }

    .carrito .carrito-producto .selector-cantidad i{
        font-size: 27px;
        width: 10px;
        height: 27px;
        margin-left: -250px;
        margin-right: -100px;
        border-radius: 50%;
        border: 1px solid #ffffff;
        cursor: pointer;
    }

    .carrito-producto-cantidad{
        margin-right: 127px;
    }

    .btn-pagar i{
        color: white;
        padding-left: 10px;
    } 

    .carrito-total .btn-pagar{
        margin-left: -100px;
        height: 100px;
    }

    .carritoo{
        float: left;
        margin-left: 50px;
        margin-top: 30px;
        font-size: 45px;
        cursor: pointer;
    }
    
    .carrito {
        width: 100%;
        margin: 20px auto;
        top: 0;
        right: 100px;
    }

    .header-carrito {
        font-size: 27px;
        padding: 15px 0;
    }

    .carrito-producto {
        align-items: flex-start;
        font-size: 20px;
        padding: 15px;
    }


    .carrito-producto img {
        width: 120px;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .carrito-producto-titulo {
        margin-left: -160px;
        font-size: 22px;
    }



    .carrito-producto-cantidad {
        font-size: 20px;
        width: 80px;
    }

    .btn-eliminar {
        left: 420px;
        top: 110px;
        width: 40px;
        height: 40px;
        padding-top: 10px;
    }

    .carrito-producto-precio {
        font-size: 22px;
    }

    .btn-pagar {
        font-size: 30px;
        padding-left: 150px;
    }

    .btn-pagar i{
        color: white;
        padding-right: 250px;
    } 
    

    .btn-pagar i {
        padding-right: 120px;

    }

    .btn-pagar i{
        color: white;
        right: 1000px;
    } 

    .carrito-producto-titulo{
        right: 500px;
    }

    .header-carrito{
        background: rgb(0, 0, 0);
        text-align: center;
        padding: 18px 0;
        color: rgb(255, 255, 255);
        font-size: 30px;
    }
    .menu {
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }

    .menus{
        margin-top: 175px;
    }

    .precio{
        margin-left: 30px;
    }

    .productos-relacionados{
        flex-direction: column;
        margin-right: 50px;
    }

    .products{
        margin-top: 27px;
    }

    .categorias{
        flex-direction: column;
        align-items: center;
    }

    .carrito{
        float: left;
        margin-left: 50px;
        margin-top: 30px;
        font-size: 45px;
        cursor: pointer;
    }

    .categorias{
        margin-left: -110px;
    }

    .coleccion{
        margin-right: -60px;
        margin-top: 0 px;
    }

    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(255, 255, 255);
        top: 127px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height:30px;
    }

    nav ul li a{
        font-size: 76px;
    }

    li a:hover, li a.active{
        background-color: none;
        color: green;
    }
    
    #check:checked ~ ul{
        left: 0;
    }

    .logo {
        margin: 0px auto 0 auto;
        margin-left: 50px;
        margin-top: 20px;
    }

}


@media (max-width: 768px) {

    .footer{
        padding-top: -400px;
    }

    .contenedor_producto .thumbnail_contenedor .thumbnail{
        display: none;
    }

    .carrito-producto-precio{
        padding-right: 120px;
    }

    .carrito .carrito-producto .selector-cantidad i{
        font-size: 27px;
        width: 10px;
        height: 27px;
        margin-left: -250px;
        margin-right: -100px;
        border-radius: 50%;
        border: 1px solid #ffffff;
        cursor: pointer;
    }

    .carrito-producto-cantidad{
        margin-right: 127px;
    }

    .btn-pagar i{
        color: white;
        padding-left: 10px;
    } 

    .carrito-total .btn-pagar{
        margin-left: -100px;
        margin-top: 40px;
    }
    
    .carrito {
        width: 100%;
        margin: 20px auto;
        top: 0;
        right: 100px;
    }

    .header-carrito {
        font-size: 27px;
        padding: 15px 0;
    }

    .carrito-producto {
        align-items: flex-start;
        font-size: 20px;
        padding: 15px;
    }


    .carrito-producto img {
        width: 120px;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .carrito-producto-titulo {
        margin-left: -160px;
        font-size: 22px;
    }



    .carrito-producto-cantidad {
        font-size: 20px;
        width: 80px;
    }

    .btn-eliminar {
        left: 360px;
        top: 225px;
        width: 40px;
        height: 40px;
        padding-top: 10px;
    }

    .carrito-producto-precio {
        font-size: 22px;
    }

    .btn-pagar {
        font-size: 30px;
        padding-left: 150px;
    }

    .btn-pagar i {
        padding-right: 120px;
    }

    .btn-pagar i{
        color: white;
        right: 1000px;
    } 

    .carrito-producto-titulo{
        right: 500px;
    }

    .header-carrito{
        background: rgb(0, 0, 0);
        text-align: center;
        padding: 18px 0;
        color: rgb(255, 255, 255);
        font-size: 30px;
    }
    .opciones {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .imagen-izq, .imagen-der {
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }

    .logo {
        margin-left: 0;
    }

    .descripcion-img-izq, .descripcion-img-der {
        text-align: center;
        margin: 10px 0;
    }

    .dise単adora {
        font-size: 32px;
    }

    footer {
        margin-top: 50px;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .dise単adora {
        font-size: 24px;
        margin-left: 0;
    }

    .presentacion-due単a, .due単a, .origen-texto {
        margin-left: 0;
        text-align: center;
    }

    .origen {
        margin-top: 50px;
    }
}

.categorias{
    display: flex;
    margin-top: 75px;
}

.coleccion{
    margin-left: 40px;
    align-items: center;
}

.accesorios{
    margin-left: 75px;
}


button{
    font-size: 22px;
}

.tabla-referencia{
    margin-top: 27px;
    margin-left: 500px;
}

.carrito-producto-titulo{
    color: rgb(0, 0, 0);
}

.carrito-producto-precio{
    color: rgb(0, 0, 0);
    margin-left: 135px;
}

.fa-bag-shopping{
    color: black;
}

.carrito-total{
    color: rgb(0, 0, 0);
}

.carrito{
    border: 1px solid #666;
    width: 50%;
    margin-left: 350px;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: relative;
    top: 27px;
    transition: .3s;
    margin-right: 60%;
}

.header-carrito{
    background: rgb(0, 0, 0);
    text-align: center;
    padding: 18px 0;
    color: rgb(255, 255, 255);
    font-size: 27px;
}

.carrito-producto{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
    font-size: 27px;
}

.carrito-producto img{
    margin-right: 20px;
    margin-left: 27px;
    width: 150px;
}

.carrito .carrito-producto .carrito-producto-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-left: 150px;
}

.carrito .carrito-producto .selector-cantidad{
    display: inline-block;
    margin-left: 140px;
}

.carrito .carrito-producto .carrito-producto-cantidad{
    border: none;
    font-size: 27px;
    background: transparent;
    display: inline-block;
    width: 100px;
    text-align: center;
}

.carrito .carrito-producto .selector-cantidad i{
    font-size: 27px;
    width: 10px;
    height: 27px;
    line-height: 0px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ffffff;
    cursor: pointer;
}
.carrito .carrito-producto .carrito-producto-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 27px;
    margin-bottom: 20px;
}

.carrito .carrito-producto .btn-eliminar{
    position: absolute;
    right: 45px;
    padding-top: 20px;
    color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    line-height: 0px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgb(1, 1, 1);
    padding-top: 10px;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}

.btn-eliminar{
    margin-top: 35px;
}

.carrito .carrito-producto .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: rgb(0, 0, 0);
    padding: 0px;
}

.carrito-total .btn-pagar{
    display: block;
    border: none;
    width: 100%;
    background: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    font-size: 37px;
    padding-left: 275px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.carrito-total .btn-pagar:hover{
    scale: 1.27;
}

.btn-pagar i{
    color: white;
    padding-right: 250px;
} 

.fila{
    color: rgb(2, 2, 2);
    font-size: 35px;
    background-color: white;
}


